global
{% for item in loadbalancer__.global %}
   {{ item }}
{% endfor %}

defaults
{% for item in loadbalancer__.defaults %}
   {{ item }}
{% endfor %}

{% for item in loadbalancer__.frontends %}
frontend {{item.name}}
{% for option in item.options %}
   {{option }}
{% endfor %}

{% endfor %}

{% for item in loadbalancer__.backends %}
backend {{item.name}}
{% for option in item.options %}
   {{option }}
{% endfor %}

{% endfor %}
